* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
}

.container:nth-child(2) {
  margin: 0 30px;
}

.step {
  color: #fff;
  background-color: #ff9a4b;
  position: absolute;
}

.step-img {
  height: 150px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.img1 {
  background-image: url(img/flow01.png);
}

.img2 {
  background-image: url(img/flow02.png);
}

.img3 {
  background-image: url(img/flow03.png);
}

.title {
  margin-bottom: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
